XMLFormTypes.doc.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<!-- Ausgelagert -->
	<xs:complexType name="field">
		<xs:sequence>
			<xs:element maxOccurs="1" minOccurs="0" name="docbook" type="docbook"/>
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" use="required"/>
		<xs:attribute name="text" type="xs:string" use="optional"/>
		<xs:attribute default="true" name="visible" type="xs:boolean" use="optional"/>
	</xs:complexType>
</xs:schema>
