XMLForm.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include schemaLocation="XMLFormDetail.xsd" />
	<!-- Form -->
	<xs:element name="form">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="1" minOccurs="0" name="docbook" type="docbook" />
				<xs:element maxOccurs="1" minOccurs="0" name="index-view" type="index-view" />
				<xs:element maxOccurs="1" minOccurs="0" name="detail" type="detail" />
				<xs:element maxOccurs="1" minOccurs="0" name="events" type="events" />
			</xs:sequence>
			<xs:attribute name="icon" type="xs:NCName" use="required">
				<xs:annotation>
					<xs:documentation>
						<p xmlns="http://purl.oclc.org/dsdl/schematron"> Das Icon muss im ImagePath zu finden sein. Es wird der Maske zugeordnet.</p>
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="helper-class" type="xs:NCName" use="optional" />
			<xs:attribute name="data-handler" type="xs:string" use="optional" />
			<xs:attribute name="title" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation>
						<p xmlns="http://purl.oclc.org/dsdl/schematron"> Der Titel der Maske. Wird die Maske als OptionPage verwendet, wird dieser Titel als Bezeichnung der Section (TabPage) verwenden.
						</p>
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="column">
		<xs:choice maxOccurs="1" minOccurs="1">
			<xs:element name="number" type="number" />
			<xs:element name="bignumber" type="bignumber" />
			<xs:element name="boolean" />
			<xs:element name="percentage" type="percentage" />
			<xs:element name="text" type="text" />
			<xs:element name="short-date" />
			<xs:element name="long-date" />
			<xs:element name="short-time" />
			<xs:element name="long-time" />
			<xs:element name="date-time" />
			<xs:element name="week-day" />
			<xs:element name="money" type="money" />
		</xs:choice>
		<xs:attribute name="name" type="xs:NCName" use="required">
			<xs:annotation>
				<xs:documentation>
					<p xmlns="http://purl.oclc.org/dsdl/schematron">Name der Spalte in der View bzw. StoredProcedure, die in der Eigenschaft</p>
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="text" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>
					<p xmlns="http://purl.oclc.org/dsdl/schematron"> Spaltenname. Dieser Name sollte immer mit '@' beginnen. Dann wird der Name in den Messages nachgeschlagen.
					</p>
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute default="false" name="offline" type="xs:boolean">
			<xs:annotation>
				<xs:documentation> Wenn true, dann wird das Feld nicht mit den Standard-Prozeduren verwendet. Kann für die Darstellung abgeleiteter Werte verwendet werden
					oder als Input für procedure-Actions
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="key" type="xs:boolean" use="optional">
			<xs:annotation>
				<xs:documentation>
					<p xmlns="http://purl.oclc.org/dsdl/schematron"> Gibt an, dass die Spalte einen Schlüssel enthält, der auch für das Auslesen der Detaildaten erforderlich ist.
					</p>
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="total" type="xs:boolean" use="optional">
			<xs:annotation>
				<xs:documentation>
					<p xmlns="http://purl.oclc.org/dsdl/schematron"> Wenn 'true', dann wird für diese Spalte auch die Summe ermittelt. Es macht nur für Spalten vom Datentyp 'number' Sinn.
					</p>
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="aggregate" use="optional">
			<xs:simpleType>
				<xs:restriction base="xs:token">
					<xs:enumeration value="SUM" />
					<xs:enumeration value="MIN" />
					<xs:enumeration value="MAX" />
					<xs:enumeration value="AVERAGE" />
					<xs:enumeration value="COUNT" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<!-- ???REQUIRED??? -->
		<xs:attribute name="size" type="xs:integer" use="optional">
			<xs:annotation>
				<xs:documentation>
					<p xmlns="http://purl.oclc.org/dsdl/schematron"> Für die einzelnen Datentypen ist eine Standardbreite im System hinterlegt. Beim Datentyp 'text' definiert dieses Feld die Breite der Spalte in
						Pixel.
					</p>
					<p xmlns="http://purl.oclc.org/dsdl/schematron"> Der Wert 0 blendet eine Spalte aus. Sie kann aber durch aufziehen wieder sichtbar gemacht werden.
					</p>
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="visible" type="xs:boolean" use="optional" default="true">
			<xs:annotation>
				<xs:documentation>
					<p xmlns="http://purl.oclc.org/dsdl/schematron">Mit visible="false" kann eine Spalte ausgeblendet werden.</p>
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="localize-key" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>
					<p xmlns="http://purl.oclc.org/dsdl/schematron">Name der Spalte, die den PrimaryKey für die Übersetzung liefert</p>
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="localize-prefix" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>
					<p xmlns="http://purl.oclc.org/dsdl/schematron">Präfix für die Übersetzung (i.a. tTable.Column)</p>
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="read-only" type="xs:boolean" use="optional" default="true">
			<xs:annotation>
				<xs:documentation>
					<p xmlns="http://purl.oclc.org/dsdl/schematron">mit read-only="false" kann in Nat-Tables die Spalte editiert werden</p>
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="group" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>
					<p xmlns="http://purl.oclc.org/dsdl/schematron">in Nat-Tables kann die Spalte einer Gruppe zugeordnet werden, dann bekommt man einen zweizeiligen Header</p>
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="index-view">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="1" name="column" type="column">
				<xs:annotation>
					<xs:documentation>
						<p xmlns="http://purl.oclc.org/dsdl/schematron"> Eine Spalte im Inhaltsverzeichnis. Der Name muss mit dem Namen der View übereinstimmen.
						</p>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="import" type="xs:NCName" use="optional">
			<xs:annotation>
				<xs:documentation>wenn import, sind andere attribute nicht required</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="source" type="xs:NCName" use="required">
			<xs:annotation>
				<xs:documentation>
					<p xmlns="http://purl.oclc.org/dsdl/schematron"> Name der View in der Datenbank, über die die Suche durchgeführt wird. Die View liefert die Daten in der darzustellenden Form. Dies gilt
						insbesondere für Nachschlagespalten.
					</p>
					<p xmlns="http://purl.oclc.org/dsdl/schematron"> Die View sollte immer mit dbo. beginnen.</p>
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="id" type="xs:NCName" use="optional" />
		<xs:attribute default="auto" name="index-report" type="xs:NCName" use="optional">
			<xs:annotation>
				<xs:documentation>
					<p xmlns="http://purl.oclc.org/dsdl/schematron"> Dieses Attribut bestimmt den Bericht, der beim Druck aller Datensätze verwendet wird. Er muss die gleichen Selektionskriterien verarbeiten
						können, die auch die View im Attribut 'source' funktionieren.
					</p>
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="sort-by" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>Kommaseparierte Feldliste der Standard Sortierreihenfolge</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="group-by" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>Kommaseparierte Feldliste der Standard Gruppierung</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<!-- Detail-Druck ist momentan im 10.x deaktiviert -->
		<!-- <xs:attribute name="detail-report" type="xs:string" use="optional"/> -->
		<!-- <xs:attribute name="detail-report-procedure" type="xs:string" use="optional"/> -->
		<!-- <xs:attribute name="detail-report-root" type="xs:string" use="optional"/> -->
		<!-- <xs:attribute name="detail-report-type" use="optional">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="">
						<xs:annotation>
							<xs:documentation>Wenn nichts angegeben wird oder das Attribut weg gelassen wird, dann wird ein Crystal report
							benutzt.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="auto">
						<xs:annotation>
							<xs:documentation>Es wird nur eine XSL-Datei benötigt</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="view">
						<xs:annotation>
							<xs:documentation>Der Bericht wird durch verwendung der View 'index-view'XML mit den Selektionskriterien vom Index verwendet. Oder
								mit den Keys. Es wird nur eine XSL-Datei benötigt.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="procedure">
						<xs:annotation>
							<xs:documentation>Der Bericht wird durch Aufruf einer Prozedur erstellt. Das Attribut 'detail-report-procedure' und 'detail-report'
								müssen gesetzt sein.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="none">
						<xs:annotation>
							<xs:documentation>tbbPrintAllDetail und tbbPrintDetail werden auf unsichtbar gesetzt. Ist notwendig bei Spezialmasken, die eigene
								Print Knöpfe haben. Zum Beispiel Manki/Boni Abrechnung (AutomatedStockAdjustment).</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="html">
						<xs:annotation>
							<xs:documentation>Der Detailreport wird über MinovaStatisticsServer (BIRT) erstellt.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute> -->
		<xs:attribute name="read-only" type="xs:boolean" use="optional" default="true">
			<xs:annotation>
				<xs:documentation>
					<p xmlns="http://purl.oclc.org/dsdl/schematron"> Dieses Attribut kann für NATTable auf "false" gesetzt werden. Dann kann im Index-Bereich gespeichert werden.
					</p>
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>